/* Carousel */
.carousel {
  gap: 4rem;
  padding-block: var(--pdg-section-y);
}

.carousel div {
  box-shadow: 0 0 0 0.5rem var(--bg-secondary) inset;
  color: var(--bg-secondary);
  padding: 2.5rem 5rem;
}

.carousel div h3 {
  letter-spacing: 3px;
  font-size: 3rem;
  font-style: italic;
}

.carousel div p {
  font-size: 1.25rem;
  letter-spacing: 3px;
}