.fixed-btn,
.btn-mobile-book {
  background-color: var(--bg-primary);
  color: var(--bg-primary-emphasis);
  font-size: 1.5rem;
  padding: 1rem;
  text-transform: uppercase;
}

.fixed-btn {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  writing-mode: sideways-lr;
}

.btn-mobile-book {
  display: none;
  margin-top: 2rem;
}