/* Initialize */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

p {
  text-align: pretty;
}