/* My Styles */
body {
  background-color: var(--bg-body);;
  font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--bg-secondary-emphasis);
}

.txt-center {
  text-align: center;
}

.a-center {
  align-items: center;
  display: flex;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}