
/* Section Testimonies */
.ctn-testimonies {
  gap: 4rem;
  padding-block: var(--pdg-section-y);
}

.ctn-testimonies article {
  color: var(--bg-secondary-emphasis);
  max-width: 27rem;
  width: 85%;
}

/* Triangle like tooltip or chat */
.ctn-testimonies p:before {
  background-color: #fff;
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(-45deg);
  height: 1rem;
  width: 1rem;
  border: 4px solid transparent;
  border-bottom-color: var(--bg-secondary);
  border-left-color: var(--bg-secondary);
}

.ctn-testimonies p {
  box-shadow: 0 0 0 4px var(--bg-secondary);
  padding: 2rem 1rem;
  line-height: 2rem;
  position: relative;
}

.ctn-testimonies img {
  margin-top: 2rem;
  clip-path: circle(40%);
  aspect-ratio: 1/1;
  max-width: 8rem;
  width: 90%;
}

.ctn-testimonies h1 {
  font-size: 1.75rem;
}

.ctn-testimonies h2 {
  color: var(--bg-secondary);
  font-size: 1.5rem;
  font-weight: 400;
}